<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy- Add Friend</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
    <style>
        .modal-header {
        background: green;
        color: white;
        }

    </style>

</head>

<body>
<div class="card" align="center">
    <div class="card-header bg-dark text-white ">
        PayMy Buddy
    </div>
</div>

<div class="d-flex flex-row justify-content-between">
    <div class="card " style="padding-left: 100px; border: 1px solid #fff; ">
        <div class="card-header bg-success text-white" style="border-radius: 10px;" align="center">
            PayMy Buddy
        </div>
    </div>
    <div class="row " style="padding-right: 100px;">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="btn btn-outline-success" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success" th:href="@{/transfer}">Transfer</a>

            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success" th:href="@{/profile}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success" th:href="@{/contact}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success" th:href="@{/logout}">Log Off</a>
            </li>
        </ul>
    </div>
</div>

<div class="container justify-content-md-center" style=" height: 50px; width: 100%; padding: 50px;" th:if="${param.transferToBankAccountSuccess}"  align="center">
    <div class="alert alert-info"> Transfer Made Successfully To Your Bank Account!</div>
</div>



<div class="container justify-content-md-center" style=" height: 50px; width: 100%; padding: 50px;" th:if="${param.transferToBankAccountUnsuccessful}"  align="center">
    <div class="alert alert-danger"> Transfer Not Made To Your Bank Account, your sold is 0!</div>
</div>

<div class="container justify-content-md-center" style=" height: 50px; width: 100%; padding: 50px;" th:if="${param.feedAccountSuccess}"  align="center">
    <div class="alert alert-info"> Amount added successfully to your account! <br/> Please note that, transaction charge debited on every transaction.</div>
</div>

<div class="container justify-content-md-center" style=" height: 50px; width: 100%; padding: 50px;" th:if="${param.feedAccountUnsuccessful}"  align="center">
    <div class="alert alert-danger"> Amount can't be less than 1!</div>
</div>
<br>

<div class="container" style=" height: 200px; width: 100%; padding: 50px;">

    <div class="card">
        <div class="text-bg-success p-3">
            Mon Compte
        </div>
        <div class="card-body" th:object="${account}">
            Mon Solde : <a th:text="${account.balance}"> </a>
            <br/>
            <button type="button" class="btn btn-outline-success" style="float:right;"
                    data-bs-toggle="modal" data-bs-target="#feedAccountModal">
                Feed Your Account
            </button>
            <div class="modal fade" id="feedAccountModal" tabindex="-1" aria-labelledby="feedAccountModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="feedAccountModalLabel">Feed Your Account</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/feedAccount}" method="post">
                                <div class="mb-3">
                                    <label class="form-label" for="amount">
                                        Amount to feed:
                                    </label>
                                    <input type="double" class="form-control" min="1,00" id="amount" th:name="amount" required="autofocus"
                                           pattern="^\d*(\.\d{0,2})?$" placeholder="EUR">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-outline-success">Feed Account</button>
                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-outline-success" style="float:right;"
                    data-bs-toggle="modal" data-bs-target="#transferBankAccountModal">
                Transfer To Your Bank Account
            </button>
            <div class="modal fade" id="transferBankAccountModal" tabindex="-1" aria-labelledby="transferBankAccountModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="transferBankAccountModalLabel">Transfer To Your Bank Account</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label>
                                Are You Sure To Want Make A Transfer To Your Bank Account?
                            </label>
                        </div>
                        <div class="modal-footer">
                            <form th:action="@{/transferToBankAccount}" method="get">
                                <button type="submit" class="btn btn-outline-success" >Yes</button>
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">No</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br/><br/>
<div class="container" style=" height: 200px; width: 100%; padding: 50px;">
    <div class="card">
        <div class="text-bg-success p-3">
            Mes Amis
        </div>
        <div class="card-body" th:object="${friendsNumber}">
            Nombre de mes amis : <a th:text="${friendsNumber}"> </a>
            <div class="card " style="float:right; margin:11px; border: 1px solid #fff; ">
                <div style="border-radius: 10px;" align="center">
                    <a class="btn btn-outline-success"  href="/" th:href="@{/showFormAddFriend}">Add a friend</a>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Button trigger modal -->


</body>
</html>